<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>array</title>
    <link rel="icon" href="assets/icons/favicon.png" type="image/png" sizes="16x16">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="array - Software development and analytics on a subscription model to take your idea to prototype.">
    <meta name="keywords" content="software agency development user experience">
    <link href="assets/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
    <link rel="stylesheet" href="assets/css/animate.css"> <!-- Resource style -->
    <link rel="stylesheet" href="assets/css/owl.carousel.css">
    <link rel="stylesheet" href="assets/css/owl.theme.css">
    <link rel="stylesheet" href="assets/css/ionicons.min.css"> <!-- Resource style -->
    <link href="assets/css/style.css" rel="stylesheet" type="text/css" media="all" />
  </head>
  <body>
    <div class="wrapper">
      <!-- Navbar Section -->
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
        <div class="container container-s">
          <a class="navbar-brand" href="/">array.</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto navbar-right">
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#products">Products</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#features">Features</a></li>
              <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#pricing">Pricing</a></li>
              <li class="nav-item"><a class="btn-cta nav-link js-scroll-trigger" href="#">Sign Up</a></li>
            </ul>
          </div>
        </div>
      </nav><!-- Navbar End -->


      <div class="main">
        <div style="height:150px"></div>
        <img src="assets/images/success.png" class="rounded mx-auto d-block" width="30%" alt="fail" />
        <h3 class="text-center pt-5"><strong>Great!</strong> We successfully received your email</h3>
      </div>


      <!-- Jquery and Js Plugins -->
      <script type="text/javascript" src="assets/js/jquery-2.1.1.js"></script>
      <script type="text/javascript" src="assets/js/popper.min.js"></script>
      <script type="text/javascript" src="assets/js/bootstrap.min.js"></script>
      <script type="text/javascript" src="assets/js/jquery.validate.min.js"></script>
      <script type="text/javascript" src="assets/js/plugins.js"></script>
      <script type="text/javascript" src="assets/js/custom.js"></script>
  </body>
</html>
